/* General CSS */

* {
    margin: 0%;
    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

a, p {
  line-height: 24px;
}

h1, h2, h3 {
  line-height: 42px;
}

.hyperlink {
    color: rgba(51,179,69,1);
}

a.hyperlink {
    position: relative;
    text-decoration: none;
}

a.hyperlink::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.hyperlink:hover:before {
    visibility: visible;
    width: 100%;
}

.flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

section {
    height: 100vh;
    background-color: #000000;
}

.auto {
  height: auto;
}

.landing-section {
  padding-top: 12vh;
}

.padding {
  padding-left: 15%;
  padding-right: 15%;
}

.paddingv {
  padding-top: 10%;
  padding-bottom: 10%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.responsive-dir {
  flex-direction: row;
}

/* Slide Underline */
a.slide-underline {
    position: relative;
    text-decoration: none;
}

a.slide-underline::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.slide-underline:hover:before {
    visibility: visible;
    width: 100%;
}

.desktop {
  display: initial;
}

.mobile {
  display: none !important;
}

.full-width {
  width: 100%;
}

.landing {
    padding-top: 15vh;
}

.button {
    margin: 16px 0;
    padding: 15px 20px;
    color: #ffffff;
    width: fit-content;
    text-decoration: none;
    font-weight: 700;
    background: linear-gradient(90deg, rgba(140,198,63,1) 0%, rgba(57,181,74,1) 100%); 
}

@media screen and (max-width: 980px) {
  .responsive-dir {
    flex-direction: column;
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: initial !important;
  }
}

/* Scrollbar  */

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: #1d1d1d;
}
 
::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgba(140,198,63,1) 0%, rgba(57,181,74,1) 100%); 
    border-radius: 3px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #36a630; 
}

/* Highlight */

::selection {
    background: rgba(51,179,69,1);
  }

/* Header */

header {
    height: 12vh;
    position: fixed;
    width: 100%;
    z-index: 20;

}

nav {
    display: flex;
    height: 14vh;
    width: 100%;
    background: #00000080;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
    flex-wrap: wrap;
}

nav .logo {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}

.header-logo {
    width: 60px;
}

.flex-left {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 0px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: rgba(51,179,69,1);
    background: rgba(41, 41, 41, 0.2);
}

.menu-btn {
    display: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}

nav .menu-btn i {
    color: rgb(0, 0, 0);
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

  @media (max-width: 1000px) {
    nav {
      flex-wrap: nowrap;
    }
    nav {
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    .menu-btn {
        display: block;
    }

    nav .menu-btn i {
      display: block;
    }

    #click:checked ~ .menu-btn i:before {
      content: "\f00d";
    }

    nav ul {
      position: fixed;
      top: 12vh;
      z-index: 12;
      left: -100%;
      background: #000000;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s cubic-bezier(1, 0, 0, 1);
      padding: 15%;
    }

    #click:checked ~ ul {
      left: 0;
    }

    nav ul li {
      width: 100%;
      margin: 25px 0;
    }

    nav ul li a {
      color: rgb(255, 255, 255);
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(1, 0, 0, 1);
    }

    #click:checked ~ ul li a {
      margin: 0;
    }

    nav ul li a.active,
    nav ul li a:hover {
      background: none;
      color: #ffffff;
    }

    .contact-button {
    background: none;
    }

    @media screen and (max-width: 500px) {
      nav {
        padding: 25px;
      }
      
    }
  }

/* Header End */

/* Footer */

footer {
    width: 100%;
    min-height: 35vh;
    background-color: #000000;
}

.footer-socials {
    display: flex;
    flex-direction: row;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    margin: 12px 0;
}

.social-link {
    text-decoration: none;
    margin: 0 24px 0 0;
}

.social-icon {
    width: 30px;
    opacity: 1;
    transition: .5s;
}

.social-icon:hover {
    opacity: .7;
}

.footer-link {
    font-size: 18px;
    color: #ffffff;
    margin: 0 12px 0 0;
}

.footer-cr {
    color: #ffffff;
}

.footer-cr > a {
    color: rgba(51,179,69,1);
}

@media screen and (max-width: 980px) {
    .footer-socials, .footer-nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer-cr {
        text-align: center;
    }
}

/* Landing */

.landing-section {
    background-color: #000000;
    color: #ffffff;
    height: 100vh;
}

.landing-container {
    width: 100%;
    text-align: left;
}

.landing-heading {
    font-weight: 800;
    font-size: 32px;
}

.landing-image {
    width: 50%;
}

@media screen and (max-width: 980px) {
    .landing-image {
        width: 100%;
    }
}

/* Project */

.project-section {
    width: 100%;
    height: auto;
    min-height: auto;
    background-color: #000000;
}

.project-container {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.project-link {
    width: 48%;
    height: min-content;
    margin: .7%;
    background: rgba(51,179,69,1);
    line-height: 0;
}

.project-image {
    width: 100%;
    opacity: 1;
    transition: .3s;
    margin: 0;

}

.project-image:hover {
    opacity: .5;
}

@media screen and (max-width: 980px) {
    .project-link {
        width: 100%;
    }
}

/* Project Page */

.portfolio-heading {
    font-size: 32px;
    font-weight: 800;
    color: #ffffff;
}

.portfolio-image {
    width: 100%;
}

/* Contact */

.contact-text {
    color: white;
    height: auto;
    width: 70%;
    margin: 10px 20px;
}
  
.contact {
    width: 100%;
    align-items: flex-start;
    color: #ffffff;
}

.contact-heading {
    font-size: 32px;
    font-weight: 800;
    color: #ffffff;
}

.contact-paragraph {
    margin-top: 10px;
    color: #ffffff;
}
  
form {
    width: 100%;
    color: white;
    appearance: none;
    -webkit-appearance: none;
}
  
form > input, textarea, button {
    padding: 3%;
    border: none;
    border-radius: 5px;
}
  
form > :first-child {
    margin-top: 0;
}
  
form > label {
    margin: 3%;
}
  
form > button {
    margin: 30px 0 0 0;
}
  
textarea {
    resize: none; 
}
  
@media screen and (max-width: 980px) {
    .contact {
      width: 100%;
    }
}