---
import { contentfulClient } from '../lib/contentful';
import type { Project } from '../lib/contentful';
import Layout from '../Layout/Layout.astro';
import ProjectList from '../components/ProjectList.astro';

const entries = await contentfulClient.getEntries<Project>({
  content_type: 'project',
});

var projects = entries.items.map((item) => {
  const {
    title,
    slug,
    description,
    media,
    thumbnail,
    available,
    technologies,
    order,
  } = item.fields;
  return {
    title,
    slug,
    description,
    media,
    thumbnail,
    available,
    technologies,
    order,
  };
});

projects = projects.sort(function (a, b) {
  return a.order - b.order;
});

const props = {
  title: 'Jan Rebolledo',
  description:
    'Freelance Front-end Web Developer & Graphic Designer, Crafting online experiences for startups.',
};
---

<Layout props={props}>
  <main>
    <section
      class='container px-3 md:px-24 md:mx-auto mt-56 mb-24 flex flex-col justify-center gap-4'
    >
      <p class='font-serif'>
        Freelance Front-end Web Developer & Graphic Designer
      </p>
      <h1 class='text-3xl xl:w-1/2'>
        Crafting <span class='font-serif'>online experiences</span> for startups,
        brands, &amp; creatives
      </h1>
      <div class='flex gap-2'>
        <a
          href='mailto:contact@janrebolledo.com'
          class='rounded-2xl border w-max px-4 py-3 bg-black text-white cursor-pointer'
        >
          Contact &rarr;
        </a>
        <a href='#work' class='rounded-2xl border w-max px-4 py-3 cursor-pointer'
          >View Work &rarr;</a
        >
      </div>
    </section>
    <section id='work'>
      <div class='container px-3 md:px-24 md:mx-auto w-full'>
        <hgroup
          class='w-full lg:w-2/5 flex flex-row items-end lg:items-center justify-between mb-12'
        >
          <h2 class='text-3xl w-full text-start lg:w-auto'>Selected Works</h2>
          <p class='text-right text-neutral-500'>2021 &mdash; Present</p>
        </hgroup>
      </div>
      <div class='container px-3 md:px-24 md:mx-auto flex flex-col gap-11'>
        <ProjectList projects={projects} />
      </div>
    </section>
  </main>
</Layout>
