@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Hoefler;
  src: url("/fonts/Hoefler.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.hoefler {
  font-family: Hoefler, serif;
}

/* Scrollbar  */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #1d1d1d;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

/* Highlight */

::selection {
  background: rgba(51, 179, 69, 0.4);
}

/* General */

::placeholder {
  color: var(--primary);
  opacity: 0.5;
}

/* Scrolling Text */

.scrolling-text-div {
  color: var(--primary);
  font-weight: bolder;
  max-width: 100%;
  overflow: hidden;
  font-size: 48px;
}

.scrolling-text-wrapper {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: scrollingText 40s linear infinite;
}

.scrolling-text-wrapper p {
  display: inline-block;
}

.scrolling-text-wrapper p:first-of-type {
  margin-right: 12px;
}

@keyframes scrollingText {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

/* Projects */

.project-content p > img {
  width: 100%;
}

.project-content p > a {
  text-decoration: underline;
}

.project-content video {
  width: 100%;
}

.projects::-webkit-scrollbar {
  height: 5px;
}

@layer components {
  .btn {
    @apply px-4 py-2 text-black bg-white border-2 border-white border-solid cursor-pointer w-max;
  }
}
