@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: radial-gradient(
    circle farthest-corner at bottom left,
    #3e761b 0%,
    #206d1e 100%
  );
  scroll-behavior: smooth;
}

:root {
  --primary: #ffffff;
  --secondary: #e2e2e2;
  --foreground: #212121;
  --background: #000000;
  --gradient: linear-gradient(
    90deg,
    rgba(140, 198, 63, 1) 0%,
    rgba(57, 181, 74, 1) 100%
  );
  --gradient-transparent: linear-gradient(
    90deg,
    rgba(140, 198, 63, 0.5) 0%,
    rgba(57, 181, 74, 0.5) 100%
  );
  --padding: 0 10%;
  --green: #6abd46;
}

* {
  box-sizing: border-box;
}

#__next {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}

section {
  display: flex;
  align-items: center;
  padding: var(--padding);
  color: var(--primary);
  min-height: 60vh;
  scroll-snap-align: start;
  justify-content: space-between;
}

section:first-of-type {
  padding-top: 15vh;
}

section:last-of-type {
  margin-bottom: 6vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
.button {
  background: var(--green);
  padding: 12px 16px;
  color: var(--primary);
  border: none;
  appearance: none;
  display: flex;
  align-items: center;
  width: max-content;
  cursor: pointer;
}

.button-outline {
  padding: 12px 16px;
  color: var(--primary);
  border: 2px solid var(--primary);
  appearance: none;
  display: flex;
  align-items: center;
  width: max-content;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.button-outline:hover {
  background: #ffffff50;
}

/* Scrollbar  */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #1d1d1d;
}

::-webkit-scrollbar-thumb {
  background: var(--gradient);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--green);
}

/* Highlight */

::selection {
  background: rgba(51, 179, 69, 0.4);
}

/* Links */

.link {
  color: var(--primary);
}

.project-content p a {
  color: var(--green);
}

.underline {
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.underline::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background: var(--gradient);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.underline:hover:before {
  visibility: visible;
  width: 100%;
}

span.underline {
  cursor: auto;
}

.img-responsive {
  width: 50%;
  padding: 24px;
}

/* General */

::placeholder {
  color: var(--primary);
  opacity: 0.5;
}

/* Header */

header {
  height: 12vh;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
  border-bottom: 2px solid var(--primary);
}

.header-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-weight: bold;
  margin-left: 10%;
}

.header-logo-link img:first-child {
  margin-right: 24px;
}

.header-logo {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100%;
}

.header-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.header-list-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-button {
  margin: 0;
}

.header-link {
  border: 2px solid var(--primary);
  border-top: 0;
  border-bottom: 0;
  width: 180px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
}

.header-link:hover {
  background: #ffffff50;
}

.header-list-item:nth-child(2) .header-link {
  border-left: 0;
  border-right: 0;
}

.header-list-item:nth-child(3) .header-link {
  border-right: 0;
}

.mobile-nav-menu {
  display: none !important;
  cursor: pointer;
}

.menu-open {
  display: flex;
}

/* Footer */

footer {
  color: var(--primary);
  padding: 5% 10%;
  border-top: 2px solid var(--primary);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.footer-container > * {
  width: 33%;
}

.footer-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.footer-logo img {
  width: 64px;
  margin-right: 12px;
}

.footer-list {
  padding: 6px 0;
  display: flex;
  justify-content: center;
}

.footer-list:nth-child(3) {
  justify-content: flex-end;
}

.footer-list a {
  margin-right: 16px;
}

.footer-list a:nth-child(3) {
  margin-right: 0;
}

.footer-social-link {
  width: 32px;
}

.footer-social-logo {
  width: 32px;
}

.footer-cr {
  display: flex;
  justify-content: space-between;
}

.footer-cr span {
  width: 50%;
}

.footer-cr span:nth-child(2) {
  text-align: right;
}

/* Landing */

.landing-section {
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.landing-section h1 {
  font-size: 48px;
  height: max-content;
  overflow-y: hidden;
}

.landing-underline {
  line-height: 0.5;
  display: inline-block;
  border-bottom: 16px solid var(--green);
}

.moveUpAnimation {
  animation: moveUp 0.8s cubic-bezier(0, 1, 0, 1) 1 forwards;
  display: inline-block;
  transform: translateY(120px);
}

.landing-h1 *:nth-child(1) {
  animation-delay: 0;
}

.landing-h1 *:nth-child(2) {
  animation-delay: 0.2s;
}

.landing-h1 *:nth-child(3) {
  animation-delay: 0.4s;
}

.landing-h1 *:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes moveUp {
  from {
    transform: translateY(120px);
  }
  to {
    transform: translateY(0px);
  }
}

.landing-social {
  width: 32px;
  margin-right: 12px;
}

.landing-header {
  display: flex;
  align-content: center;
  flex-direction: row;
}

.landing-logo {
  width: 64px;
  height: 64px;
}

.landing-header-links {
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: underline;
  justify-content: space-evenly;
}

.landing-container {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.landing-container div:nth-child(1) {
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.landing-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 12px;
  height: max-content;
  overflow-y: hidden;
}

.landing-buttons > * {
  margin-right: 12px;
}

.landing-buttons *:nth-child(1) {
  animation-delay: 0.8s;
}

.landing-buttons *:nth-child(2) {
  animation-delay: 1s;
}

.landing-section-socials {
  height: max-content;
  overflow-y: hidden;
}

.landing-section-socials *:nth-child(1) {
  animation-delay: 1.2s;
}

.landing-section-socials *:nth-child(2) {
  animation-delay: 1.4s;
}

.landing-section-socials *:nth-child(3) {
  animation-delay: 1.6s;
}

.landing-img {
  z-index: 1;
  display: inline-block;
  animation: moveUpImg 1.8s cubic-bezier(0, 1, 0, 1) 1 forwards;
  transform: translateY(240px);
}

@keyframes moveUpImg {
  from {
    transform: translateY(240px);
  }
  to {
    transform: translateY(0px);
  }
}

.background-text {
  z-index: 0;
  width: 100%;
  height: auto !important;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  font-size: 128px;
  left: 0;
  top: 0;
  padding: 5%;
  font-weight: bold;
  opacity: 0.1;
  color: #216d1e;
  mix-blend-mode: lighten;
  text-shadow: -1px -1px 0 var(--primary), 1px -1px 0 var(--primary),
    -1px 1px 0 var(--primary), 1px 1px 0 var(--primary);
}

.background-text p {
  margin: 0;
  display: inline-block;
}

.background-text p:nth-child(1) {
  animation: slideInLeft 1.8s cubic-bezier(0, 1, 0, 1) 1 forwards;
  transform: translateX(-100vw);
}

.background-text p:nth-child(2) {
  text-align: end;
  animation: slideInRight 1.8s cubic-bezier(0, 1, 0, 1) 1 forwards;
  animation-delay: 0.3s;
  transform: translateX(100vw);
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0px);
  }
}

/* Services */

.services-section {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 33%;
  padding-right: 12px;
}

.card-img {
  width: 45px;
}

.card-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.card-skills > .card-img {
  margin-right: 12px;
  width: 32px;
  height: 32px;
}

/* Projects */

.projects-section {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 120px;
}

.projects-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 33%);
  gap: 12px;
}

.project-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow-y: hidden;
  border: 2px solid var(--primary);
  transition: all 0.2s ease-in;
}

.project-card:hover {
  background: #ffffff50;
}

.project-img {
  width: 100%;
}

.project-card-img-container {
  height: 0%;
  width: 100%;
  position: relative;
  opacity: 1;
  transition: 0.3s cubic-bezier(0, 1, 0, 1);
}

.project-card-img {
  width: 100%;
  transform: scale(100%);
  object-fit: contain;
  top: 50%;
  transition: 0.3s ease;
}

.project-info {
  padding: 4%;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
  text-transform: uppercase;
}

.project-scope {
  font-size: 12px;
  padding: 6px;
  border: 1px solid var(--primary);
  background-color: #ffffff50;
  width: max-content;
  margin-top: 0;
}

.project-info h3 {
  margin-top: 0;
  margin-bottom: 8px;
}

.project-date {
  font-size: 14px;
  margin: 0;
  color: var(--secondary);
}

.project-link {
  color: var(--primary);
  text-decoration: underline;
  display: flex;
  align-items: center;
}

.project-card:hover .project-card-img {
  opacity: 0.4;
}

.project-card:hover .project-info {
  opacity: 1;
  transform: translate(0, 0);
}

.project-section {
  align-items: flex-start;
  flex-direction: column;
}

.project-section > .project-date {
  margin-bottom: 12px;
}

.project-content {
  margin-bottom: 12px;
}

.project-content p > img {
  width: 100%;
}

/* Process */

.process-section {
  align-items: flex-start;
  margin-bottom: 6vh;
  flex-direction: column;
}

.process-section > div {
  width: 100%;
}

.process-card {
  width: 100%;
  border: 2px solid var(--primary);
  padding: 4%;
  margin-bottom: 12px;
}

/* Contact */

.contact-section {
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 10%;
}

.contact-section div > h1 {
  margin-top: 0;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

form input,
textarea {
  margin: 12px 0;
  padding: 8px 12px;
  background: #00000000;
  border: 2px solid var(--primary);
  border-radius: 0;
  color: var(--primary);
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

textarea {
  resize: none;
  height: 25vh;
}

form > button {
  width: max-content;
}

@media screen and (max-width: 980px) {
  header {
    padding: var(--padding);
    background-color: #00000060;
  }
  nav {
    display: none;
    position: absolute;
    top: 12vh;
    width: 100%;
    left: 0;
    height: 88vh;
    background-color: #00000060;
  }
  .header-logo-link {
    margin-left: 0;
  }
  .header-list {
    flex-direction: column;
    padding: 0;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .header-list-item {
    width: 100%;
    height: 20%;
    border: none;
    border-bottom: 2px solid var(--primary) !important;
  }
  .header-link {
    width: 100%;
    border: none;
  }
  .mobile-nav-menu {
    display: block !important;
  }
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-list {
    justify-content: flex-start !important;
  }
  section {
    flex-direction: column;
  }
  form {
    width: 100%;
  }
  .landing-section {
    height: auto;
    margin-bottom: 5vh;
  }
  .landing-section h1 {
    font-size: 42px;
  }
  .landing-section > div {
    display: flex;
    padding: 10%;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  .landing-header-links {
    display: flex;
    flex-direction: row;
  }
  .img-responsive {
    width: 100%;
    margin-top: 12px;
    padding: 0;
  }
  .process-card {
    padding: 4%;
  }
  .cta-section {
    justify-content: center;
    align-items: flex-start;
    min-height: 40vh;
  }
  .cards-container {
    flex-direction: column;
  }
  .card {
    width: 100%;
    height: auto;
    padding: 32px 0;
  }
  .projects-container {
    grid-template-columns: repeat(1, 100%);
  }
  .project-card {
    width: 100%;
    padding: 0;
    margin-bottom: 32px;
    background: none;
    height: auto;
  }
  .project-info {
    padding: 6%;
  }
}
